/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #0C2340;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
}

/* Header Styles */
.header {
  background-color: #0C2340;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header .navbar {
  display: flex;
  gap: 20px;
}

.header .navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.header .navbar a:hover {
  color: #0075BF;
}

/* About Page */
.about-page {
  padding: 50px 20px;
  text-align: center;
}

.about-section {
  margin: 40px auto;
  max-width: 800px;
  text-align: center;
}

.highlight-section {
  background-color: #0C2340;
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin: 40px auto;
  text-align: center;
  max-width: 800px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

/* Formulario */
.form-container {
  background: white;
  padding: 30px;
  margin: 50px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border: 1px solid #0075BF;
  box-shadow: 0 0 8px rgba(0, 117, 191, 0.5);
}

button {
  background: #0C2340;
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background: #0075BF;
}
.gallery-page {
  padding: 50px 20px;
  text-align: center;
}

.gallery-page h2 {
  font-size: 32px;
  color: #0C2340;
  margin-bottom: 20px;
}

.gallery-page p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  aspect-ratio: 1/1; /* Esto asegura un formato cuadrado */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}
